appdirs==1.4.4
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
docutils==0.17.1
idna==2.10
lxml==4.6.3
numpy==1.20.3
Pillow==8.2.0
Pygments==2.9.0
Pypubsub==4.0.3
pywin32==301
requests==2.25.1
robotframework==3.2.2
robotframework-datadriver==1.2.0
robotframework-pythonlibcore==2.2.1
robotframework-seleniumlibrary==5.1.3
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
tqdm==4.61.0
urllib3==1.26.5
webdrivermanager==0.10.0
wxPython==4.0.7.post2
